/* SHAPES */

.shape-1 {
  clip-path: polygon(
    44% 5%,
    80% 0%,
    73% 33%,
    100% 80%,
    80% 100%,
    20% 100%,
    28% 82%,
    14% 18%
  );
}

.shape-2 {
  clip-path: polygon(
    35% 0,
    82% 0,
    100% 0,
    100% 80%,
    80% 100%,
    14% 100%,
    14% 82%,
    14% 18%
  );
}

.shape-3 {
  clip-path: polygon(
    11% 78%,
    15% 15%,
    28% 0,
    100% 1%,
    100% 32%,
    76% 54%,
    71% 78%,
    85% 85%,
    85% 100%,
    45% 100%,
    28% 100%,
    7% 100%
  );
}
