/* SHAPES */

.point-down {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.bevel {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

.left-point-angle {
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.right-point-angle {
  clip-path: polygon(100% 50%, 0 100%, 0 0);
}

.trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
